 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="home">Trang chủ</a></li>
                        <li>Thanh toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<div class="checkout_page_bg">
    <div class="container">
        <div class="Checkout_section">
            <div class="row">
               <div class="col-12">
                             
               </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_left">
                            <form [formGroup]="billForm" (ngSubmit)="onSubmit(billForm.value)">
                                <h3>Chi tiết hóa đơn</h3>
                                <div class="row">

                                    <div class="col-lg-6 mb-20">
                                        <label>Họ tên <span>*</span></label>
                                        <input  formControlName="fullname" type="text">    
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Địa chỉ</label>
                                        <input formControlName="address"  type="text">     
                                    </div>   
                                    <div class="col-lg-6 mb-20">
                                        <label>Số điện thoại <span>*</span></label>
                                        <input  formControlName="phone" type="text">    
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Ghi chú</label>
                                        <input formControlName="note"  type="text">     
                                    </div> 
                                    <div class="payment_method">
                                        <div class="order_button">
                                            <button  type="submit">Thanh toán</button> 
                                        </div>    
                                    </div> 	    	    	    
                                </div>
                            </form> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_right">
                            <!-- <form action="#">     -->
                                <h3>Đơn hàng của bạn</h3> 
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Sản phẩm</th>
                                                <th>Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let it of items">
                                                <td>{{it.item_name}} <strong> × {{it.quantity}}</strong></td>
                                                <td> {{it.money}}<td>
                                            </tr> 
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tổng tiền hóa đơn</th>
                                                <td>$215.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phí ship</th>
                                                <td><strong>$5.00</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <th>Tổng đơn hàng</th>
                                                <td><strong>{{total}}</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>     
                                </div>
                              
                            <!-- </form>  -->
                        </div>        
                    </div>
                </div> 
            </div>        
        </div>
    </div>
</div>

<!--Checkout page section end-->

 <!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="col-12">
            <div class="brand_container owl-carousel ">
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand7.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand8.jpg" alt=""></a>
                    </div>
                </div>
                 <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="brand_list">
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="assets/img/brand/brand6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->

